@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --fonte-principal: 'inter', 'sans-serif';

    --background-color: #f3f5fc;
    --cor-primaria: #0A3871;
    --cor-secudaria: white;
}

* {
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
    text-decoration: none;
}

.cabecalho {
    padding: 0.5rem 0rem 0rem 0rem;
}

.corpo {
    display: flex;
    font-family: var(--fonte-principal);
    max-width: auto;
    max-height: auto;
    padding: 0.5rem 2.5rem 0.5rem 16rem;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
}

.corpo__ladoEsquerdo {
    display: flex;
    flex-direction: column;
}

.corpo__ladoEsquerdo__areaDeTexto {
    border: none;
    font-family: var(--fonte-principal);
    font-size: 2rem;
    color: var(--cor-primaria);
    resize: none;
}

.corpo__ladoEsquerdo__areaDeTexto__avisoLetras {
    display: flex;
    font-size: 0.75rem;
    gap: 0.5rem;
}

.corpo__ladoEsquerdo__areaDeTexto__botoes {
    display: flex;
    gap: 1.5rem;
    color: var(--cor-secudaria);

}

.corpo__ladoEsquerdo__areaDeTexto__botoes__botaoCriptografar {
    color: var(--cor-secudaria);
    background-color: var(--cor-primaria);
    border-radius: 1.5rem;
    width: 20.5rem;
    height: 4.19rem;
}

.corpo__ladoEsquerdo__areaDeTexto__botoes__botaoDesciptografar {
    color: var(--cor-primaria);
    background-color: #d8dfe8;
    border-color: var(--cor-primaria);
    border-radius: 1.5rem;
    width: 20.5rem;
    height: 4.19rem;
}

.corpo__ladoDireito {
    background-color: var(--cor-secudaria);
    height: 50rem;
    width: 25rem;
    border-radius: 2rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    margin: 0rem 2.5rem;
}

.corpo__ladoDireito__imagemETexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--cor-secudaria);
}

.corpo__ladoDireito__imagemETexto__imagem {
    background-color: var(--cor-secudaria);
}

.corpo__ladoDireito__imagemETexto__textoDestaque {
    background-color: var(--cor-secudaria);
    color: #343a40;
    padding: 2rem 0rem 0rem 0rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.corpo__ladoDireito__imagemETexto__textoSecundario {
    color: #495057;
    background-color: var(--cor-secudaria);
    padding: 1rem;
}

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4.43rem;
    background-color: var(--cor-primaria);
    font-family: var(--fonte-principal);
}

.rodape__texto {
    background-color: var(--cor-primaria);
    color: var(--cor-secudaria);
}

.rodape__texto__paulo {
    background-color: var(--cor-primaria);
    color: var(--cor-secudaria);
    font-weight: bold;
}

.rodape__texto__paulo:hover{
    color:grey;
}