@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --fonte-principal: 'inter';
}

* {
    padding: 0;
    margin: 0;
}

.cabecalho {
    padding: 2.25rem
}

.corpo {
    display: flex;
    font-family: var(--fonte-principal);
    padding: 5rem 16rem;
}

.ladoDireito {
    display: flex;
    flex-direction: column;
}

.avisoLetras{
    display: flex;
    font-size: 0.75rem;
    gap: 0.5rem;
}

.botoes{
    display: flex;
    gap: 1.5rem;
    color: white;
    width: 20.25;
}